html, body{
	margin: 0px;
	padding: 0px;
	background-color: #333333;
	color: #9CA485;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 105%;
}

.titleBar{
	width: 100%;
	height: 100px;
	background-color: black;
	background-color: #485c3c;
}

.modelDiv{
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	text-align: justify;
}

.modelDiv h1{
	text-align: center;
}

.display{
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.gameGrid{
	margin-left: auto;
	margin-right: auto;
}

table{
	border-collapse: collapse;
}

.gameGrid td{
		width: 125px;
		height: 125px;
		padding: 0px;
}

.gameGrid img{
	width: 125px;
	height: 125px;
}

a:link{
	color: #5C6D55;
}

a:visited{
	color: #5B6F6B;
}